/* body{
   
} */

#header{
    background-color: red;
}

#banner{
    background-color: gray;
}

.prod-orange{
    background-color: orange;
}

.prod-white{
    background-color: white;
    border: 1px solid black;
}