#intro{
    background-color: yellow;
}

.dev{
    background-color: lightgrey;
}

#flutter{
    background-color: orange;
}

table{
    border: 1px solid black;
}

#direitos{
    border: 1px solid black;
}