#header{
    background-color: black;
    color: white;
    padding: 20px;
    width: 700px;
}

#header a{
    padding: 10px 30px 10px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid red;
}

#menu a{
    margin-left: 10px;
}

#header #menu a:hover{
    background-color: #0E76A0;
    border-radius: 30px;
    padding: 10px 30px 10px;
}

#header #menu a:active{
    background-color: #6F6F6F;
}

#header #menu a.selecionado{
    border-radius: 30px;
    padding: 10px 30px 10px;
    background:  #f99200 url(../seta.png) no-repeat 15px center;
}