#header{
    background-color: rgb(93, 93, 247);
}

a{
    color: white;
}

#compra-tel{
    background-color: white;
    color: rgb(93, 93, 247);
}

#banner{
    background-color: purple;
}

#reservados{
    background-color: rgb(93, 93, 247);
}